.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    min-width: 80px;
    min-height: 35px;
    background-color: #e0e0e0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    line-height: 0.3px;
    text-transform: capitalize;
    color: #3F3F3F;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $global-primary-font;
    transition: all 0.2s ease-in-out;
    user-select: none;
    &:hover, &:focus{
        color: #3F3F3F;
        background-color: #AEAEAE;
    }
    +.button {
        margin-left: 15px;
    }
    /*Icon*/
    &.button--start-icon i{
        margin-right: 8px;
    }
    &.button--end-icon i{
        margin-left: 8px;
    }
    /*Size*/
    &.button--sm{
        min-width: 73px;
        min-height: 32px;
    }
    &.button--lg{
        min-width: 93px;
        min-height: 42px;
    }
    /*Color*/
    &.button--primary{
        background-color: #2962FF;
        color: white;
        &:hover, &:focus{
            background-color: #0039CB;
        }
    }
    &.button--secondary{
        background-color: #455A64;
        color: white;
        &:hover, &:focus{
            background-color: #1C313A;
        }
    }
    &.button--danger{
        background-color: #D32F2F;
        color: white;
        &:hover, &:focus{
            background-color: #9A0007;
        }
    }
    /*Variant*/
    &.button--outline{
        border: 1px solid #3D5AFE;
        color: #3D5AFE;
        background-color: white;
        &:hover, &:focus{
            background: rgba(41, 98, 255, 0.1);
        }
    }
    &.button--text{
        color: #3D5AFE;
        background-color: transparent;
        box-shadow: none;
        &:hover, &:focus{
            background-color: rgba(41, 98, 255, 0.1);
        }
        &:disabled{
            pointer-events: none;
            background-color: transparent;
            color: #9E9E9E;
        }
    }
    /*Disabled Shadow*/
    &.button--disableShadow{
        box-shadow: none;
    }
    /*Disabled*/
    &:disabled, &[disabled]{
        background-color: #E0E0E0;
        color: #9E9E9E;
        pointer-events: none;
    }
}